@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  color: #5a4e66;
  background: #fff;
  font-family: Open Sans;
}

/*---------------------------------------------------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*---------------------------------------------------------------------------------*/
._container {
  max-width: 1410px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

/* ._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
} */
.page {
  font-size: 18px;
}

.mindbox-popup {
  display: none;
}

.mindbox-products {
  margin: 40px 0;
  padding: 20px 0;
  background-color: rgba(84, 84, 84, 0.05);
}

.mindbox-products__title {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.mindbox-products__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.products__item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.products__image {
  max-width: 300px;
  margin: 0px 0px 10px 0px;
}

.products__image img {
  width: 100%;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.products__title {
  margin: 0px 0px 10px 0px;
}

.products__text {
  margin: 0px 0px 10px 0px;
  font-weight: 600;
}

.products__button {
  background-color: #91be55;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  min-width: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  letter-spacing: .1em;
  line-height: 1;
  padding: 12px 20px;
  height: 36px !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.products__button:hover {
  background-color: #9bc85f;
}
